<header class="st-header" role="banner">
<div class="st-header__content">
  <div class="st-header__inner">
    <p class="st-header__innner">
      <p class="st-header__logo">
        <a href="#"><img class="st-header__logo__img" src="./assets/img/structures/logo.svg" alt="TK Group"></a>
    </p>
    <button id="js-header-navBtn" class="st-header__navBtn" aria-label="NAV" aria-controls="js-header-nav" aria-expanded="true">
      <span class="st-header__navBtn__icon js-hader-navBtn__icon"></span>
    </button>
    <nav id="js-header-nav" class="st-header__nav" role="navigation">
      <ul class="st-header__globalNav">
        <li><a class="st-header__globalNav__link" href="#">SERVICE</a></li>
        <li><a class="st-header__globalNav__link" href="#">WORKS</a></li>
        <li><a class="st-header__globalNav__link" href="#">NEWS</a></li>
        <li><a class="st-header__globalNav__link" href="#">COMPANY</a></li>
        <li><a class="st-header__globalNav__link" href="#">TKY LAB.</a></li>
        <li><a class="st-header__globalNav__link" href="#">RECURUIT</a></li>
      </ul>
      <ul class="st-header__infoNav">
        <li><a class="st-header__globalNav__link" href="#">ENGLISH</a></li>
        <li><a class="st-header__globalNav__link" href="#">CONTACT</a></li>
        <li>
	  <div id="js-header-search" aria-label="SEARCH" aria-controls="js-header-search__form" aria-expanded="false">
	    <form id="js-header-search__form" class="st-header__search__form" role="search">
	      <input class="st-header__search__input" type="text">
	      <button class="st-header__search__button" type="submit"></button>
	    </form>
	  </div>
	</li>
      </ul>
    </nav>
  </div>
</div>
</header>

